@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header {
  background-color: #205375;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.wrap-navbar {
  width: 100%;
}